<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CDI TCK">
    <test name="CDI Lite TCK">
        <groups>
            <run>
                <exclude name="cdi-full"/>
                <exclude name="se"/>
            </run>
        </groups>
        <packages>
<!--
            <package name="org.jboss.cdi.tck.tests.*" />
            <package name="org.jboss.cdi.tck.interceptors.tests.*" />
-->
            <package name="org.jboss.cdi.tck.tests.build.compatible.extensions.*"/>
        </packages>
    </test>
</suite>
